.form-pro {
    background-color: blanchedalmond;
}

.contact {
    margin-bottom: 0%;
}

.iden {
    margin-top: 0.3%;
}

.formpro-img {
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
}

